body{
	margin: 0;
	font-family: Pompadur;
}
@font-face {
	    font-family: Pompadur; /* Гарнитура шрифта */
	    src: url(18893.ttf); /* Путь к файлу со шрифтом */
	   }
.photo{
	height: 100%;
	width: 100%;
	display:none;
	z-index: 30;
}
#top-menu{
	width: 	100%;
	height:60px;
	background-color: 	#000;
	top:0;
	position: sticky; 
	z-index: 20;
}
#top-menu-dots{
	position: 	absolute;
	width: 	60px;
	height: 60px;
}
.dot{
position: absolute;
background-color: 	#fff;
border-radius: 	50%;
height: 10px;
width: 	10px;
}
.dot:hover{
	background-color: yellow;
}
#dots{
width: 	10px;
height: 40px;
right: 	50%;
position: 	absolute;	
top:50%;
transform: translate(-50%,-50%);
}
#dot1{
	top:0;
}
#dot2{
	top:15px;
}
#dot3{
	bottom: 0;
}
#top-menu-logo{
	top: 30%;
	position: absolute;
	height: 100%;
	overflow-y: hidden;
	left: 60px;
	transition-duration: 200ms;
	transition-property: box-shadow;
}
.top-menu-btn{
	font-family: Pompadur;
	color: white;
	display: inline-block;
	padding-right:20px; 
	position:relative;
	height: 40px;
	left:160px;
	font-size: 10px;
	padding: 10px

}
#top-menu-dots:hover #dots{
	transform: translate(-50%,-50%) scale(1.2);

}
.vec{
	height: 10px;
	width: 10px;
	margin:5px;
	position: relative;
	display: inline-block;
	transition-duration: 200ms;
}
.top-menu-btn:hover .vec{
	transform: rotateX(180deg);
}
.box{
    position: relative;
	width: 100%;
}
#box1{
	margin-top:0px;
}
#box1-img{
	margin-bottom: -4px;
	width: 100%;
}
#box1-title{
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	left:25%;
	font-size:35px;
	color: #fff;
	text-shadow: 0 0 7px #000;
	text-align: center;
}
.box1-title-btn{
	display: inline-block;
	width: 200px;
}
.simple-border-btn{
	margin: 15px;
	padding: 5px;
	border-radius:7px;
	border:solid white 3px;
	color: red;
	font-size: 19px;
	text-align: center;
}
.simple-border-btn:hover{
	margin: 5px;
	padding: 15px;
}
.solid-color-btn{
	margin: 15px;
	padding: 5px;
	width: 135px;
	text-align: center; 
	background-color: yellow;
	border: solid yellow 3px;
	border-radius: 3.5px;
	font-size: 19px;
}
.solid-color-btn:hover{
	margin: 5px;
	padding: 15px;
}
#box1-title a{
	text-decoration: none;
}
.top-menu-btn-list{
	height: 200px;
	position: absolute;
	width: 100%;
	display: none;
	background-color: black;
	top: 42px;
}
#top-menu-btn1:hover #top-menu-btn-list1{
     display: block;
}
#top-menu-btn2:hover #top-menu-btn-list2{
     display: block;
}
#top-menu-btn3:hover #top-menu-btn-list3{
     display: block;
}
#top-menu-btn4:hover #top-menu-btn-list4{
     display: block;
}
#top-menu-btn5:hover #top-menu-btn-list5{
     display: block;
}
#box2-img{
	width: 100%;
	margin-bottom: -4px;
}
#box2-title{
	position: absolute;
	text-align: center;
	top: 50%;
	left: 75%;
	transform: translate(-50%,-50%);
	color: white;
}
#box2-title-img{

}
.btext{
	font-size: 50px;
}
.small-text{
	font-size: 17px;
}


#box2-title a{
text-decoration: none;
}
#top-menu-dots:hover #dots .dot {
	background-color: #fdd;
	box-shadow: 0 0 10px #f00;
}
#box4{
height:600px;
overflow: hidden;
color: white;
}
#box4-img{
width: 100%;
position: absolute;
left: 50%;
top: 50%;
transform:translate(-50%,-50%);
}
#box4-title{
	position: absolute;
	width: 40%;
	right: 50%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 25px;
}
.box4-title-btn{
	display: inline-block;
}
#box4-right{
	position: absolute;
	width: 40%;
	height: 100%;
	right: 10%;
}
#box4-right-img{
 max-width: 100%;
 max-height:100%; 
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
}
#box4-logos{
	position: absolute;
	width: 10%;
	height: 100%;
	right: 0%;
}
#box4-logo1{
width: 50%
}
#box4-logo2{
transform: rotate(90deg);
position: relative;
top: 15%;
width: 150%;
}
#box5{
	background-color: #aaa;
	height: 1000px;
	text-align: center;
}
#cards{
	display: inline-block;
}
.card{
	display: inline-block;
	position: relative;
	background-color: #222;
	height: 800px;
	width: 500px;
	top: 100px;
	color: #ffff;
	font-size: 30px;
	margin: 50px;
}
.card-btn{
	display: inline-block;
	transition-duration: 300ms;
}
.card a{
	text-decoration: none;
}
.tmb-menu{
	position: absolute;
	top:100%;
	left:0 ;
	transition-duration:350ms; 
	transition-property:transform;
	transform: translateY(-50%)	scaleY(0);
	background-color: rgba(0,0,0,0.8);
}
.top-menu-btn:hover .tmb-menu{
	transform: translateY(0) scaleY(1);
}
.top-menu-btn1 .tmb-menu .tmb-menu-btn{

}
#top-menu-btn1 .tmb-menu-btn{
	width: 250px;
}
#top-menu-btn1 .tmb-menu-btn{
	width: 250px;
}
#top-menu-btn1 .tmb-menu-btn{
	width: 250px;
}
.tmb-menu-btn{
	display: inline-block;
}
.card-title{

}
#card-title1{

}
#card-title2{
	
}
.card-img{
width: 500px;
height: 800px;
position: absolute;
top: 0;
left: 0;
}
#card-img1{

}
#card-img2{
	
}
.card-gradient{
position: absolute;
height: 100%;
width: 100%;
left: 0;
top: 0;	
background: linear-gradient(to top,rgba(64,0,0,1),rgba(64,0,0,1),rgba(0,0,0,0))
}
#card1-gradient{

}
#card2-gradient{

}
.card-title{
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	margin:auto;
}
#box6{
	background-color: #000;
	color: #fff;
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
}
#box6-more{
	position: relative;
	display: inline-block;
	height: 800px;
	width:  800px;
	min-height: 500px;
	text-align: left;
	vertical-align: top;
	font-size: 30px;
	margin-right: 20px;
}
#box6-simple{
	position: relative;
	display: inline-block;
	background-color: #ddd;
	width: 400px;
	min-height: 500px;
}
#box6-simple-btns{
	position:relative;
	background-color: #bbb;
	height: 75px;
	font-size: 20px;
}
.box6-simple-btn{
	position: absolute;
	height: 100%;
	top: 0;
	color:#000;
	text-align: center;
	font-size: 30px;
}
#box6-simple-btn1{
	left: 0;
	width: 120px;
	font-size: 25px;
}
#box6-simple-btn2{
	left: 120px;
	width: 120px;
	font-size: 25px;
}
#box6-simple-btn3{
	left: 240px;
	width: 160px;
	font-size: 25px;
}
.box6-simple-main{
	color: #000;
	text-align: left;
	font-size: 100px;
	background-color:white;
	padding-top: 10px;
}
#box6-more1{

}
#box6-more2{
display: none;
}
#box6-more3{
display: none;
}
#box6-simple-main1{

}
#box6-simple-main2{
display: none;
}
#box6-simple-main3{
display: none;
}
#box6-simple-btn1{
background-color: #ddd;
}
#box6-simple-btn2{
border-bottom: solid #000 1px;
}
#box6-simple-btn3{
border-bottom: solid #000 1px;
}
#footer{
	background-color: #111;
	color: #aaa;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
#footer a{
	color:#aaa;
	text-decoration: none;
}
#footer a:hover{
	text-decoration:underline;
}
.box6-simple-main-img{
	width: 100%;
}
#down{
	position: absolute;
	width: 50px;
	right: 20px;
	bottom: 20px; 
}
#nax1{
	position: fixed;
	z-index: 30;
	top: 0;
	right: 100px;
	color: white;
	font-size: 50px;
}
#box7{
	padding-top: 50px;
	padding-bottom:50px;
	text-align: center;
	background-color: #000;
	color: #fff;
}
#box7 b{
	font-size: 30px;
	font-family: Pompadur;
}
.box7-card{
	position: relative;
	background-color: #222;	
	height: 600px;
	width: 350px;
	display: inline-block;
	margin: 20px;
	transition-duration: 400ms;
	transition-property:transform, box-shadow; 
	font-family: Pompadur;
}
.box7-card-date{
	color: yellow;
}
.box7-card-img{
	width: 100%;
}
.box7-card:hover{
box-shadow: 0px 20px 20px green; 
transform: translateY(-20px);
}
.box7-card-b{
	font-size: 27px;
	font-family: Pompadur;
}
#top-img1{
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	display: none;
}

.top-img:hover{
	background-color: rgba(255,0,0,0,2);
	transform: rotate(180deg);
}
.cl{
	margin-top: 165px;
}
#top{
	height: 0px;
	text-align: right;
}
#box8{
	padding:100px 0 100px 0;
}
#box8 table{
	left: 0;
	right: 0;
	margin: auto;
}
#box8 th{
	height: 200px;
	width: 200px;
	background-color: #222;
}
